<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>The U.S. Senate</title>

        <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/app.css" />
        <link rel="stylesheet" type="text/css" href="../css/senate.css" />
    </head>
    <body>
       <div id="banner">
            <h1>Senate</h1>
            <ul>
                <li id="dem_sec">
                    <h2>Dem <span class="total">180</span> <span class="flux">-3</span></h2>
                    <p><span class="need_num">+38</span> needed for majority</p>
                </li>
                <li id="gop_sec">
                    <h2>GOP <span class="total">215</span> <span class="flux">+1</span></h2>
                    <p><span class="need_num">+3</span> needed for majority</p>
                </li>
                <li id="ind_sec">
                    <h2>Other <span class="total">2</span> <span class="flux">+1</span></h2>
                </li>
                <li id="nc_sec">
                    <h2><span class="total">38</span> <span class="flux">Not called</span></h2>
                </li>
            </ul>
        </div>
        <div id="candidates"></div>


        <script type="text/javascript" src="../../js/lib/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery.columnizer.js"></script>
        <script type="text/javascript" src="../../js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="../../js/lib/humanize.min.js"></script>
        <script type="text/javascript" src="../../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/senate.js"></script>
        <!--[if lt IE 9]>
        <script src="js/lib/html5.js"></script>
        <![endif]-->

        <script id="timezone-template" type="text/template">
            <div class="timezone">
                <div class="poll-closing-time">
                    <div class="poll-closing-time-label">
                    <% date = moment.unix(timezone.gmt_epoch_time).subtract('hours', 5).format('h:mm'); %>
                    <%= date %>
                    </div>
                </div>
                <% _.each(timezone.districts, function(district){ %>
                    <%
                        var called = '';
                        if (district.called == true) { called = 'called'; }
                        var district_name = district.district.replace(' 0', '');
                    %>
                    <ul class="<%= called %>"><li class="district"><%= district_name %></li>
                    <%
                    if(district.district_slug == "vt0"){
                    %>
                    	<li class="candidate"></li>
                    <% } %>
                    <%
                    _.each(district.candidates, function(candidate){
                        party_class = candidate.party.toLowerCase();
                        incumbent = '';
                        winner = '';
                        if (candidate.winner == true) { winner = 'winner'; }
                        if (candidate.incumbent == true) { incumbent = 'incumbent'; }
                    %>
                        <li class="<%= party_class %> <%= incumbent %> <%= winner %> candidate">
                            <%= candidate.first_name %> <%= candidate.last_name %>&nbsp;
                        </li>
                    <% }); %>
                    	<li class="status"><%= district.status %></li>
                    </ul>
                <% }); %>
            </div>
        </script>
        </script>

    </body>
</html>