BeautifulSoup==3.2.1
Fabric==1.4.3
Flask==0.9
Jinja2==2.6
Werkzeug==0.8.3
boto==2.5.2
latimes-calculate==0.1.8
pusher==0.6
pycrypto==2.6
python-dateutil==1.5
pytz==2012f
ssh==1.7.14
wsgiref==0.1.2
Pollster==0.1.2
peewee==2.0.2
git+https://github.com/jyr/python-tumblr.git@b91d98257
poster==0.8.1
webassets==0.7.1
psycopg2==2.4.5
