<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <title>Electris</title>

    <script>
        window._gaq = window._gaq || [];
    </script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="css/template.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <script type="text/javascript" src="http://www.npr.org/templates/javascript/jwplayer/jwplayer.js"></script>
    <script>
        NPR = {};
        NPR.PageInfo = {};
        NPR.PageInfo.getUrlParameter = function (param) {
            return false;
        };
    </script>

	<script type="text/javascript">
		function play5Audio() {
			document.getElementById('livestreamer').play();
			$("#playcon5").empty();
			$("#playcon5").append("<img src='images/pauseButtonOver.png' onclick='pause5Audio();' />");
			if ($("#playerdisp .loading").length > 0) {
				$('#playerdisp .loading').remove();
			}
			if ($("#playerdisp .playing").length == 0) {
				$('#playerdisp').append('<div class="playing"><p>Live</p></div>');
				$('#eq_gfx').html('<img src="images/eq2.gif" />');
			}
		}

		function pause5Audio() {
			document.getElementById('livestreamer').pause();
			$("#playcon5").empty();
			$("#playcon5").append("<img src='images/playButtonOver.png' onclick='play5Audio();' />");

			$('#eq_gfx').html('<img src="images/eq-none.gif" />');
			$('#playerdisp .playing').remove();
			$('#playerdisp').append('<div class="loading loading-live"><p></p></div>');
		}
	</script>

	<!-- DFP TARGET -->
	<script type="text/javascript">
        <!--
            var DFP = {};
            DFP.tile = 0;
            DFP.ord = Number(window.ord) || Math.floor(Math.random() * 1E10);
            DFP.target = 'http://ad.doubleclick.net/adj/n6735.NPR/news_election_2012;agg=139482413;storyid=139482413';
        // -->
        </script>

        <!-- DFP AD MANAGER -->
        <script type="text/javascript">
        <!--
             DFP[0] = {"utype":null,"sz":"300x250","position":"right_main"};
             DFP[1] = {"utype":null,"sz":"88x31","position":"search_box"};


            DFP.renderLocation = function(location) {
                var params = DFP[location];
                var toRender = '<scr' + 'ipt src="'
                                + DFP.target
                                + ';sz=' + params.sz
                                + ';tile=' + ++DFP.tile
                                + ';sc='
                                + ';ord=' + DFP.ord
                                + ';" type="text/javascript" language="javascript"></scr' + 'ipt>';
                document.write(toRender);
            }
        // -->
	</script>

</head>
<body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li class="npr"><a href="http://npr.org">NPR</a></li>
              <li class="news"><a href="http://www.npr.org/sections/news/">News</a></li>
              <li class="arts"><a href="http://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
              <li class="music"><a href="http://www.npr.org/music/">Music</a></li>
              <li class="donate"><a href="http://www.npr.org/stations/donate/">Donate</a></li>
            </ul>
            <div id="social">
            	<ul>
            		<li><span>Share This Page:</span></li>
            		<li class="twitter"><a rel="external" href="http://twitter.com/share?via=nprnews&amp;text=Live%20From%20The%202012%20Republican%20National%20Convention&amp;url=http%3A%2F%2Fapps.npr.org%2F2012-republican-national-convention%2F" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', 'Conventions']);">Share This Page On Twitter</a></li>
            		<li class="facebook"><a rel="external" href="http://www.facebook.com/sharer/sharer.php?t=Live+From+The+2012+Republican+National+Convention&amp;u=http%3A%2F%2Fapps.npr.org%2F2012-republican-national-convention%2F" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', 'Conventions']);">Like This Page On Facebook</a></li>
            	</ul>
			</div>
        </div>
      </div>
    </div>

    <div class="container the-goods" id="maincontent">
		<div id="header" class="row">

			<div class="span8 intro">
                <h1>Election 2012: Paths To Victory</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>We've pre-filled the candidates' columns with the states that NPR analysis shows that they are most likely to win. Now, game out how important each "toss-up" state is to their Electoral College fortunes.</p>

    	        <div class="related">
	                <h3>Related NPR Stories</h3>
    	            <ul>
    	            	<li><a href="http://www.npr.org/blogs/itsallpolitics/2012/09/27/161873074/election-day-expert-says-35-percent-of-all-votes-could-be-cast-before-nov-6">Election Day? Expert Says 35 Percent Of All Votes Could Be Cast Before Nov. 6</a></li>
        	        	<li><a href="http://www.npr.org/blogs/itsallpolitics/2012/09/27/161830028/iowa-becomes-first-swing-state-to-begin-early-in-person-voting">Iowa Becomes First Swing State To Begin Early In-Person Voting</a></li>
                	</ul>
                </div>
            </div>


			<div class="span4" id="bigbox">

                <!-- START 300X250 AD -->
                <div class="adwrapper"><div class="sponsor300">

				<!-- DFP AD MANAGER -->
				<script type="text/javascript">
				<!--
					try{
						DFP.renderLocation(0);
					}catch(e){
						NPR.messaging.warning('Problem fetching/rendering ad server code.','DFP.renderlocation',NPR.messaging.constants.SPONSORSHIP_ERROR);
					}
				// -->
				</script>
				<!-- END UNDERWRITING -->

				<p class="left">NPR thanks our sponsors</p>
				<p class="right"><a href="http://www.npr.org/about/place/corpsupport/">Become an NPR Sponsor </a></p>
				</div></div>
				<!-- END 300X250 AD -->

			</div>

        </div>

        <div class="row" id="alert-msg">
        	<div class="span12">
        	</div>
        </div>


        <div class="row">
        	<div id="electris">
				<div id="toggles">
					<!-- TODO: GET NPR TOSSUPS (USING NYT NOW) -->
					<h3>Toggle these "toss-up" states on or off to game out each candidate's potential path to Electoral College victory.</h3>
					<ul id="tossups">
					</ul>

				</div>

				<div id="states">
					<div id="buckets">

						<div class="candidate blue">
							<div class="bucket-header">
								<h3><i>Barack </i><b>Obama</b></h3>
                                <h4><b id="p-blue-electoral">00</b> electoral votes* | <span id="blue-needs">? more needed to win.</span></h4>
							</div>
							<div class="bucket blue"></div>
							<div class="combos">
							
								<!-- TODO: PORT TO APP.JS -->
								<!-- IF NO TOSS-UP STATES SELECTED YET -->
								<p class="must-win">Obama must win <strong>at least <span class="blue-simple-combo-length">?</span></strong> toss-up states.</p>

								<!-- IF TOSS-UP STATES SELECTED -->
								<p class="must-win">If Obama wins <span class="blue-state-list">New Hampshire and Virginia</span>, he still must win <strong>at least <span class="blue-simple-combo-length">?</span> more</strong> toss-up states.</p>

								<!-- IF WINNER -->
								<p class="must-win">If Obama wins <span class="blue-state-list">New Hampshire and Virginia</span>, <strong>he would win the Electoral College</strong>.</p>

								<!-- HISTOGRAM -->
								<h5>Paths To Victory</h5>
								<ul class="histogram blue">
								</ul>
							</div>
						</div> <!-- end .candidate.blue -->

						<div class="candidate red">
							<div class="bucket-header">
								<h3><i>Mitt </i><b>Romney</b></h3>
                                <h4><b id="p-red-electoral">00</b> electoral votes* | <span id="red-needs">? more needed to win.</span></h4>
							</div>
							<div class="bucket red"></div>
							<div class="combos">

								<!-- TODO: PORT TO APP.JS -->
								<!-- IF NO TOSS-UP STATES SELECTED YET -->
								<p class="must-win">Romney must win <strong>at least <span class="red-simple-combo-length">?</span></strong> toss-up states.</p>

								<!-- IF TOSS-UP STATES SELECTED -->
								<p class="must-win">If Romney wins <span class="red-state-list">New Hampshire and Virginia</span>, he still must win <strong>at least <span class="red-simple-combo-length">?</span> more</strong> toss-up states.</p>

								<!-- IF WINNER -->
								<p class="must-win">If Romney wins <span class="red-state-list">New Hampshire and Virginia</span>, <strong>he would win the Electoral College</strong>.</p>

								<!-- HISTOGRAM -->
								<h5>Paths To Victory</h5>
								<ul class="histogram red">
								</ul>
							</div>
						</div> <!-- end .candidate.red -->
						<div id="line"><b>270</b></div>

					</div> <!-- end #buckets -->
				</div> <!-- end #states -->
			</div> <!-- end #electris -->
		</div>

		<div id="footer" class="row">
			<div class="span12">
				<div class="credits" id="attrCredit">
					<strong>Notes:</strong><br />
					<span id="p-blue-call">Barack Obama starts with <span class="value">00</span> votes based on current NPR "strong Democrat" or "lean Democrat" predictions.</span> 
					<span id="p-red-call">Mitt Romney starts with <span class="value">00</span> votes based on current NPR "strong Republican" or "lean Republican" predictions.</span>
					NPR predictions last updated on October 23, 2012.<br />
					<br />
					Source: NPR analysis<br />
					Credits: Brian Boyer, Christopher Groskopf and Alyson Hurt / NPR
				</div>
			</div>
			<div class="span12">
				<ul class="bottomlist elexLinks">
					<li class="elex"><a href="http://www.npr.org/">Election 2012</a></li>
					<li><a href="http://www.npr.org/sections/presidential-race">Presidential Race</a></li>
					<li><a href="http://www.npr.org/series/139914785/barack-obama">Barack Obama (D)</a></li>
					<li><a href="http://www.npr.org/series/139589850/mitt-romney">Mitt Romney (R)</a></li>
					<li><a href="http://www.npr.org/series/128364156/the-message-machine">The Message Machine</a></li>
					<li><a href="http://apps.npr.org/early-voting-2012/">Early Voting Calendar</a></li>
					<li><a href="http://www.npr.org/2011/08/15/139648404/campaign-2012-political-calendar">Political Calendar</a></li>
					<li><a href="http://www.npr.org/series/146345736/money-politics">Money &amp; Politics</a></li>
					<li><a href="http://www.npr.org/series/128364156/the-message-machine">The Message Machine</a></li>
				</ul>
			</div>
			<div class="span12">
				<ul class="bottomlist">
					<li><a href="http://www.npr.org/">Copyright 2012 NPR</a></li>
					<li><a href="http://www.npr.org/about/termsofuse.html">Terms of Use</a></li>
					<li><a href="http://www.npr.org/about/privacypolicy.html">Privacy Policy</a></li>
					<li><a href="http://www.npr.org/about/permissioninfo.html">Permissions</a></li>
					<li><a href="http://www.npr.org/corrections/">Corrections</a></li>
					<li><a href="http://thin.npr.org">Text-Only Site</a></li>
					<li class="help"><a href="http://www.npr.org/help/">Help</a></li>
					<li class="contact"><a href="http://www.npr.org/contact/">Contact Us</a></li>
					<li class="donate"><a href="http://www.npr.org/stations/donate/">Donate</a></li>
				</ul>
			</div>
		</div>
    </div>

    <script id="state-template" type="text/template">
        <div class="state <%= state.id %> prediction-<%= state.prediction %>" rel="tooltip" title="<%= state.name %> (<%= state.electoral_votes %>)" data-delay="0" data-animation="false" data-id="<%= state.id %>">
            <% _.times(state.electoral_votes, function(){ %>
                <i><span><%= state.stateface %></span></i>
            <% }); %>
        </div>
    </script>

    <script id="tossup-template" type="text/template">
        <li data-state-id="<%= state.id %>"><b><%= state.stateface %></b><span class="full"><%= state.name %></span> <span class="abbr"><%= state.abbr %></span> (<%= state.electoral_votes %>)</li>
    </script>

    <script id="combo-group-template" type="text/template">
        <li>
            <h4>
                <span class="title"><strong><%= key %> state<%= key > 0 ? "s" : "" %></strong> <i>(show)</i></span>
                <span class="bar" style="width: <%= combo_count / max_combo_count * 100 %>%;"></span>
            </h4>
            <ul class="combo-group">
            </ul>
        </li>
    </script>

    <!--[if lt IE 9]>
    <script src="js/lib/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/lib/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="js/lib/miso.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/combinations.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
