/*


.timezones { float:left; }
.timezone { clear:left; }
.timezone .poll-closing-time { float:left; font-size:11px; line-height:14px; width:50px; height:14px; text-align:right; }
.timezone .poll-closing-time-label { background-color:black; color:white; padding-right:10px; }
.timezone h2 { float:left; width:50px; font-size:11px; line-height:14px; margin:0; }
.timezone ul { float:left; margin:0; }
.timezone li { float:left; width:150px; font-size:11px; line-height:14px; list-style:none; overflow:hidden; }*/
body {
    font-family:Verdana;
    border-bottom:1px solid red;
    border-right:1px solid red;
    height:600px;
    width:800px;
    overflow:hidden;
}
#banner {
    background-color:#333;
    color:white;
    height:40px;
    overflow:hidden;
}
h1 {
    margin:0;
    padding:0;
    line-height:40px;
    font-size:32px;
}

.district {
    font-size:12px;
    line-height:14px;
    float:left;
    width:50px;
    display:block;
    font-weight:bold;
}

.column {
    width:400px;float:left;
}

.timezone li {
    display:block;
    float:left;
    line-height:14px;
}
.timezone ul {
    clear:left;
    width:350px;
    padding:0;
    margin:0;
    display:block;
    margin-left:50px;
}

.poll-closing-time {
    position:absolute;
    display:block;
    width:45px;
    background-color:#333;
}
.poll-closing-time-label {
    padding:0 4px;
    font-size:11px;
    line-height:14px;
    color:#fff;
    font-weight:bold;
    text-align:center;
}
.candidate {
    width:150px;
    font-size:11px;
    height:14px;
    font-weight:bold;
    overflow:hidden;
    white-space:nowrap;
}
.candidate.dem {
    color:blue;
}
.candidate.gop {
    color:red;
}
.candidate.incumbent {
    text-transform:uppercase;
}