.district {
    font-size:11px;
    float:left;
    width:36px;
    display:block;
    font-weight:bold;
}
#candidates { height:555px; overflow:hidden; }
.candidate { width: 157px; text-indent:4px; line-height:15px;}
.timezone ul { height:15px; overflow:hidden; }