body {font-weight:bold;}
#banner {height:40px;}
#banner h1 {width:15%}
#banner li {text-transform:uppercase; width:40%;}
span.neednum{color:#fff; line-height:20px;padding:0 4px;}
#banner li#dem_sec span.need {color:#145c7b;}
#banner li#dem_sec span.neednum{background-color:#145c7b;}
#banner li#gop_sec span.need {color:#8f0b00;}
#banner li#gop_sec span.neednum{background-color:#8f0b00;}
#banner li h2{padding-top:4px;}

#candidates ul.swing {width:400px;font-size:14px;text-transform:uppercase;height:27px;border-top:1px solid #999;display:block;}
.weighted li {display:block; float:left;line-height:27px;padding:0 6px 0 6px;}
.swing li.closeTime {white-space:nowrap;overflow:hidden;}
.weighted li:first-child{padding-left:4px;}
.weighted ul.swing li.state{width:45%;white-space:nowrap;overflow:hidden;}
.weighted ul {clear:left;}
.weighted {border-bottom: 1px #999 solid; margin-bottom: 5px;}


ul.allstates:nth-child(odd){background-color:#444;}
#candidates ul.allstates {text-transform:uppercase;font-size:12px;height:23px;text-transform:uppercase;display:block;}
ul.allstates li.state {font-size:11px;width:120px;overflow:hidden;white-space: nowrap;}

li.demPercent{color:#a7d7eb;width:10%;overflow:hidden;}
li.gopPercent{color:#f8a199;width:10%;overflow:hidden;}
li.percentTime{border-right:solid #666 1px; width:10%;overflow:hidden;}
li.percentTime {font-size:13px;}

.weighted li.demPercent{width:15%;overflow:hidden;}
.weighted li.gopPercent{width:15%;overflow:hidden;}

.closeTimeBar{text-align:center; background-color:#ccc; color:#333;font-weight:bolder;font-size:11px;height:23px;line-height:23px;}
ul.allstates li.percentTime {width:15%;}

.full li {display:block; float:left;line-height:23px;padding:0 6px 0 6px;}
.full li:first-child{padding-left:4px;}
.full ul {clear:left;}
.full{border-top: 1px solid #999;}

.dem.winner {
    background-color:#1B7BA4;
    color:white;
}

.gop.winner {
    background-color:#BE0F00;
    color:white;
}

ul {margin:0;}
p {margin:0;}
.full .column {border-left:solid #efefef 1px;}
.full .first.column {border:none;}
.weighted .last.column {border-left:solid #efefef 1px;width:49% !important;}