body {font-weight:bold;}
#banner {height:38px;}
#banner h1 {width:16%}
#banner li {text-transform:uppercase; width:40%;}
span.neednum{color:#fff; line-height:20px;padding:0 4px;}
#banner li#dem_sec span.need {color:#145c7b;}
#banner li#dem_sec span.neednum{background-color:#145c7b;}
#banner li#gop_sec span.need {color:#8f0b00;}
#banner li#gop_sec span.neednum{background-color:#8f0b00;}
#banner li h2{line-height: 38px;}

.swing {
    width:400px;
    text-transform:uppercase;
    height:24px;
    border-top:1px solid #999;
    display:block;
}
.swing li {
    display:block;
    float:left;
    font-size:16px;
    line-height:24px;
    text-indent:4px;
    padding:0 6px 0 0;
}
.swing li.closeTime {white-space:nowrap;overflow:hidden;}
.weighted li:first-child{text-indent:4px;}
.weighted ul.swing li.state{width:45%;white-space:nowrap;overflow:hidden;}
.weighted ul {clear:left;}
.weighted {border-bottom: 1px #999 solid; margin-bottom: 2px;}


.allstates:nth-child(odd){background-color:#444;}
.allstates {
    text-transform:uppercase;
    height:20px;
    text-transform:uppercase;
    display:block;
}
.allstates .state {
    font-size:14px;
    line-height:20px;
    width:145px;
    overflow:hidden;
    white-space: nowrap;
    text-indent:4px;
}
.allstates .state .name { font-size:13px; line-height:13px;}
.allstates .state .votes { font-size:12px; letter-spacing:-1px; line-height:13px; }

.demPercent{ text-indent:4px; color:#a7d7eb; width:14%; overflow:hidden;}
.gopPercent{ text-indent:4px; color:#f8a199; width:14%; overflow:hidden;}
.swing .demPercent { text-indent:8px; }
.swing .gopPercent { text-indent:8px; }

.percentTime{ border-right:solid #666 1px; width:12%; overflow:hidden; font-size:13px; text-align:left; color:#f9e8af;}
.percentTime.called { background-color:#f2d15f; color:#000; }
.full .percentTime.called { height:20px; }
.weighted li.demPercent{width:15%;overflow:hidden;}
.weighted li.gopPercent{width:15%;overflow:hidden;}

.closeTimeBar{text-align:center; background-color:#ccc; color:#333;font-weight:bolder;font-size:11px;height:20px;line-height:20px;}
ul.allstates li.percentTime {width:15%;}

.full li {display:block; float:left;line-height:21px;}
.full li:first-child{text-indent:4px;}
.full ul {clear:left;}
.full{border-top: 1px solid #999;}

.dem.state {
    background-color:#1B7BA4;
    color:white;
}

.gop.state {
    background-color:#BE0F00;
    color:white;
}

ul {margin:0;}
p {margin:0;}
.full .column {border-left:solid #ccc 2px;}
.full .first.column {border:none;}
.weighted .last.column {border-left:solid #ccc 2px;width:49% !important;}