.timezone ul {margin-left:0;}
.poll-closing-time{position:relative;}
.poll-closing-time-label {margin:0; padding:0; width:400px; font-size:14px; height:26px;line-height:26px;}
ul.called{}
.candidate {width:163px; font-size:14px; text-indent: 4px;}
#candidates ul {width:400px;}
#candidates ul li {height:26px;line-height:26px;}
.district{font-size:12px; width:29px;text-indent: 4px;}
li.status{text-indent: 4px;width: 44px; font-size:12px;}
.emptyleft {margin-left: 160px;}
#candidates ul li.candidate.switch{
	border:2px #fff solid;
	width:158px;
	height:22px;
	line-height: 22px;
}