#banner {height:50px;}
#banner li h2{padding-top:6px;}

.timezone ul { margin-left:0; }
.poll-closing-time{ position:relative; }
.poll-closing-time-label { margin:0; padding:0; width:399px; font-size:14px; height:27px;line-height:27px; }
.candidate { width:169px; font-size:14px; text-indent: 4px; letter-spacing:-1px; margin-left: 0px;] }
#candidates ul { width:399px;}
#candidates ul li { height:27px;line-height:27px; }
.district{ font-size:12px; width:25px; text-align:center; }
.status{ width: 33px; font-size:13px; letter-spacing:-1px; text-align:left; color:#f9e8af; border-right:#666 solid 1px; }
.emptyleft {margin-left: 160px; }
#candidates ul li.candidate.switch{
	border:1px #fff solid;
	width:167px;
	height:25px;
	line-height: 25px;
}
.called.status {
    background-color:#f2d15f;
    color:#333;
    font-size:12px;
    letter-spacing: -1px;
}
.vote-percent {
    font-size:13px;
    float:right;
    display:block;
    width:25px;
    text-align:center;
}
.left {
    float:left;
}
.right {
    float:right;
}

.first.column {
    width:399px !important;
    border-right:2px solid #ccc;
}
.last.column {
	width:399px !important;
}


span.tiny { font-size:12px; text-transform:uppercase; letter-spacing:-2px; }
/* Some people have long names. */
.candidate-51916, .candidate-49977, .candidate-61823 {
    font-size:14px;
}
/* Super-long names. */
.candidate-61671,
.candidate-62241,
.candidate-57264,
.candidate-29135,
.candidate-62418,
.candidate-1729,
.candidate-1704,
.candidate-49977
{
    font-size:13px;
}

.candidate-1445,
.candidate-51916{font-size: 12px;}

/* Really, really long names. */
.candidate-40102 {
    font-size:11px;
}

.candidate-62292 {
	letter-spacing: -2px;
	font-size: 12px;
}

.candidate-62418 .tiny{font-size: 11px;}