.timezone ul {margin-left:0;}
.poll-closing-time{position:relative;}
.poll-closing-time-label {margin:0; padding:0;width:398px; font-size:14px; height:21px;padding-top:5px;background-color:#DDD;}
ul.called{}
.candidate {width:150px; font-size:14px;  padding-left:2px; }
#candidates{line-height:30px;}
#candidates ul {width:400px;}
#candidates ul li {height:21px;line-height:21px;}
.district{font-size:14px;}