{% extends 'base.html' %}
{% block title %}The U.S. {{ house.title() }} | BigBoard Admin{% endblock %}
{% block extra_head %}
    <style type='text/css'>
        .gop { color:red; }
        .dem { color:blue; }
        .incumbent { text-transform:uppercase; }
        .clear { width:100%; clear:both; }
        td.ap-call { text-align:center!important; }
        .modal { display:none; }
        .btn { text-transform:none; }
        .npr-call, .npr-uncall { float:right; }
        .clear-call { margin-left:5px; float:none;}
        .hidden { display:none; }
    </style>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h1>BigBoard Admin: The U.S. {{ house.title() }}</h1>

        <table class="table table-striped table-bordered table-hover table-condensed">
        <tr class="info">
            <td><strong>State</strong></td>
            <td><strong>Candidates</strong></td>
            <td></td>
            <td><strong>Accept AP calls</strong></td>
        </tr>
        {% for grouper, list in candidates|groupby('race_slug') %}
        {% if loop.index % 20 == 0  %}
        <tr class="info">
            <td><strong>State</strong></td>
            <td><strong>Candidates</strong></td>
            <td></td>
            <td><strong>Accept AP calls?</strong></td>
        </tr>
        {% endif %}
        <tr class="{{ grouper.lower().replace(' ', '') }}">
            <td>{% if house == "senate" %}
                {{ grouper.replace(' 0', '').upper() }}
            {% else %}
                {{ grouper.upper() }}
            {% endif %}</td>

            <td>{% for race in list %}
                {% if loop.first %}

                <span class="candidate
                    {% if race.incumbent == '1' %}incumbent{% endif %}
                    {{ race.party.lower() }}
                    {% if race.accept_ap_call %}{% if race.ap_call != '' %}called{% endif %}{% endif %}
                    ">
                    {% include 'includes/race_winner_buttons.html' %}
                    {{ race.first_name }} {{ race.last_name}}
                </span>
                {% endif %}
            {% endfor %}</td>
            <td>{% for race in list %}
                {% if loop.index == 2 %}

                <span class="candidate
                    {% if race.incumbent == '1' %}incumbent{% endif %}
                    {{ race.party.lower() }}
                    {% if race.accept_ap_call %}{% if race.ap_call != '' %}called{% endif %}{% endif %}
                ">
                    {% include 'includes/race_winner_buttons.html' %}
                    {{ race.first_name }} {{ race.last_name}}
                </span>
                {% endif %}
            {% endfor %}</td>
            <td class="ap-call">{% for race in list %}{% if loop.first %}
            <button
                id="{{ race.race_slug.replace(' ', '').lower() }}"
                class="btn {% if race.accept_ap_call == '1' %}btn-success{% else %}btn-warning{% endif %} btn-mini"
                data-race-slug="{{ grouper.replace(' ', '') }}">
                    {% if race.accept_ap_call == "1" %}
                    Accepting AP calls
                    {% else %}
                    Not accepting AP calls
                    {% endif %}
            </button>
            {% endif %}
            {% endfor %}
        </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">

        $('.npr-call').click(function(){
            // Hide all "npr uncall" buttons.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-uncall').addClass('hidden');
            // Show all "npr call" buttons.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-call').removeClass('hidden');
            // Hide all "npr winner" buttons.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-winner').addClass('hidden');
            // Hide this "npr call" button.
            $(this).addClass('hidden');
            // Show this "npr uncall" button.
            $($(this).parent('span').children('.npr-uncall')).removeClass('hidden');
            // Show this "npr winner" button.
            $($(this).parent('span').children('.npr-winner')).removeClass('hidden');
        });

        $('.npr-uncall').click(function(){
            // Hide this "npr uncall" button.
            $(this).addClass('hidden');
            // Show all "npr call" buttons.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-call').removeClass('hidden');
            // Show all "npr winner" buttons.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-winner').addClass('hidden');
        });

        // A sort of generic function to read options and handle changing button state and POSTing to an URL.
        function buttonPOST(options){

            // Monkey with buttons.
            $(options.target).removeClass(options.button.pre_state);
            $(options.target).addClass(options.button.post_state);
            $(options.target).html(options.message);

            // POST some data.
            $.post('.', options.post_data, function(e){
                var target = $(options.target).parent('td').parent('tr').attr('class');
                if (options.post_data.accept_ap_call == false) {
                    $('tr.'+target+' .npr-call').removeClass('hidden');
                } else {
                    $('tr.'+target+' .npr-call').addClass('hidden');
                }
            });
        }

        // If someone clicks on the ap-call buttons ...
        $('.ap-call .btn').click(function(){

            // Identify the race.
            var race_slug = $(this).attr('id')

            // If we're already accepting ap calls, do the opposite.
            if ( $(this).hasClass('btn-success') ) {

                // Here's the options. Ain't javascript fun?
                buttonPOST({
                    post_data: {
                        race_slug: race_slug,
                        accept_ap_call: false
                    },
                    button: {
                        pre_state: 'btn-success',
                        post_state: 'btn-warning'
                    },
                    message: 'Not accepting AP calls',
                    target: this
                });

            // Otherwise, do the opposite.
            } else {
                buttonPOST({
                    post_data: {
                        race_slug: race_slug,
                        accept_ap_call: true
                    },
                    button: {
                        pre_state: 'btn-warning',
                        post_state: 'btn-success'
                    },
                    message: 'Accepting AP calls',
                    target: this
                });
            }
        });
    </script>
{% endblock %}