{% extends 'base.html' %}
{% block title %}The U.S. President | BigBoard Admin{% endblock %}
{% block extra_head %}
    <style type='text/css'>
        .gop { color:red; }
        .dem { color:blue; }
        .other { color:green; }
        .incumbent { text-transform:uppercase; }
        .clear { width:100%; clear:both; }
        td.ap-call { text-align:center!important; }
        .modal { display:none; }
        .btn { text-transform:none; }
        .npr-call, .npr-uncall { float:right; }
        .clear-call { margin-left:5px; float:none;}
        .hidden { display:none; }
    </style>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h1>The President</h1>

        <table class="table table-striped table-bordered table-hover table-condensed">
        <tr class="info">
            <td><strong>State</strong></td>
            <td><strong>Democrat</strong></td>
            <td><strong>Republican</strong></td>
            <td><strong>Accept AP calls</strong></td>
        </tr>
        {% for state in states %}
        {% if loop.index % 20 == 0  %}
        <tr class="info">
            <td><strong>State</strong></td>
            <td><strong>Democrat</strong></td>
            <td><strong>Republican</strong></td>
            <td><strong>Accept AP calls?</strong></td>
        </tr>
        {% endif %}
        <tr class="{{ state.id }}
            {% if state.prediction == 't' %} warning{% endif %}">
            <td>{{ state.name }}</td>

            <td>
                <span class="state dem"
                data-state="{{ state }}"
                data-party="d">

                    <button class="npr-call btn btn-mini
                        {% if state.accept_ap_call == True %}hidden{% endif %}
                        {% if state.npr_call == 'd' %}hidden{% endif %}">Call for NPR</button>

                    <button class="npr-uncall btn btn-mini btn-info
                        {% if state.accept_ap_call == True %}hidden{% endif %}
                        {% if state.npr_call == 'd' %}{% else %}hidden{% endif %}">Uncall for NPR</button>

                    <button class="ap-winner btn btn-primary btn-mini disabled {% if state.ap_call != 'd' %}hidden{% endif %}">AP</button>
                    <button class="npr-winner btn btn-primary btn-mini disabled
                        {% if state.accept_ap_call == True %}hidden{% endif %}
                        {% if state.npr_call != 'd' %}hidden{% endif %}
                    ">NPR</button>
                    {{ state.dem_vote_percent() }}%
                </span>
            </td>
            <td>
                <span class="state gop"
                data-state="{{ state }}"
                data-party="r">
                    <button class="npr-call btn btn-mini

                        {% if state.accept_ap_call == True %}hidden{% endif %}
                        {% if state.npr_call == 'r' %}hidden{% endif %}">Call for NPR</button>

                    <button class="npr-uncall btn btn-mini btn-info
                        {% if state.accept_ap_call == True %}hidden{% endif %}
                        {% if state.npr_call == 'r' %}{% else %}hidden{% endif %}">Uncall for NPR</button>

                    <button class="ap-winner btn btn-danger btn-mini disabled {% if state.ap_call != 'r' %}hidden{% endif %}">AP</button>
                    <button class="npr-winner btn btn-danger btn-mini disabled
                        {% if state.accept_ap_call == True %}hidden{% endif %}
                        {% if state.npr_call != 'r' %}hidden{% endif %}
                    ">NPR</button>
                    {{ state.rep_vote_percent() }}%
                </span>
            </td>
            <td class="ap-call">
            <button
                id="{{ state.id }}"
                class="btn {% if state.accept_ap_call == True %}btn-success{% else %}btn-warning{% endif %} btn-mini"
                data-race-slug="{{ state }}">
                    {% if state.accept_ap_call == True %}
                    Accepting AP calls
                    {% else %}
                    Not accepting AP calls
                    {% endif %}
            </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">

        $('.npr-call').click(function(){
            // Set up the race slug.
            var race_slug = $(this).parent('span').parent('td').parent('tr').attr('class');

            // Hide all "npr uncall" buttons for this race.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-uncall').addClass('hidden');

            // Show all "npr call" buttons for this race.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-call').removeClass('hidden');

            // Hide all "npr winner" buttons for this race.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-winner').addClass('hidden');

            // Hide this "npr call" button.
            $(this).addClass('hidden');

            // Show this "npr uncall" button.
            $($(this).parent('span').children('.npr-uncall')).removeClass('hidden');

            // Show this "npr winner" button.
            $($(this).parent('span').children('.npr-winner')).removeClass('hidden');

            // POST!
            buttonPOST({
                post_data: {
                    race_slug: race_slug,
                    party: $(this).parent('span').attr('data-party'),
                },
                target: this
            });
        });

        $('.npr-uncall').click(function(){
            // Set up the race slug.
            var race_slug = $(this).parent('span').parent('td').parent('tr').attr('class');

            // Hide this "npr uncall" button.
            $(this).addClass('hidden');

            // Show all "npr call" buttons for this race.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-call').removeClass('hidden');

            // Show all "npr winner" buttons for this race.
            $('tr.'+$(this).parent('span').parent('td').parent('tr').attr('class')+' .npr-winner').addClass('hidden');

            // POST!
            buttonPOST({
                post_data: {
                    race_slug: race_slug,
                    clear_all: true
                },
                target: this
            });
        });

        // A sort of generic function to read options and handle changing button state and POSTing to an URL.
        function buttonPOST(options){

            function acceptAP(){
                // Check if we have targets.
                if ( options.target != undefined ) {

                    // Monkey with buttons.
                    $(options.target).removeClass(options.button.pre_state);
                    $(options.target).addClass(options.button.post_state);
                    $(options.target).html(options.message);
                }
                var target = $(options.target).parent('td').parent('tr').attr('class');
                if (options.post_data.accept_ap_call == false) {
                    $('tr.'+target+' .npr-call').removeClass('hidden');
                } else {
                    $('tr.'+target+' .npr-call').addClass('hidden');
                    $('tr.'+target+' .npr-uncall').addClass('hidden');
                    $('tr.'+target+' .npr-winner').addClass('hidden');
                }
            }

            // POST some data.
            $.post('.', options.post_data, function(e){
                if ( options.post_data.accept_ap_call != undefined ) { acceptAP(); }
                console.log(e)
            });
        }

        // If someone clicks on the ap-call buttons ...
        $('.ap-call .btn').click(function(){

            // Identify the race.
            var race_slug = $(this).attr('id')

            // If we're already accepting ap calls, do the opposite.
            if ( $(this).hasClass('btn-success') ) {

                // Here's the options. Ain't javascript fun?
                buttonPOST({
                    post_data: {
                        race_slug: race_slug,
                        accept_ap_call: false
                    },
                    button: {
                        pre_state: 'btn-success',
                        post_state: 'btn-warning'
                    },
                    message: 'Not accepting AP calls',
                    target: this
                });

            // Otherwise, do the opposite.
            } else {
                buttonPOST({
                    post_data: {
                        race_slug: race_slug,
                        accept_ap_call: true
                    },
                    button: {
                        pre_state: 'btn-warning',
                        post_state: 'btn-success'
                    },
                    message: 'Accepting AP calls',
                    target: this
                });
            }
        });
    </script>
{% endblock %}