{% extends "base.html" %}
{% block title %}Mark state winners{% endblock %}
{% block content %}
    <h1>Mark state winners</h1>

    <div id="alerts">
    </div>

    <p>
    {% for state in states %}
    <a href="#{{ state.id }}">{{ state.name }}</a>{% if not loop.last %},{% endif %} 
    {% endfor %}
    </p>

    <form id="state-winners" method="POST">
        {% for state in states %}
        <div id="{{ state.id}}" class="control-group well">
            <h4>{{ state.name }}</h4>

            <h5>Predicted outcome</h5>

            {% for option in settings.PREDICTION_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="prediction-{{ state.id }}" value="{{ option.0 }}" {% if state.prediction == option.0 %}checked="checked"{% endif %} />{{ option.1 }}
            </label>
            {% endfor %}

            <h5>AP call</h5>

            {% for option in settings.RESULT_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="ap-{{ state.id }}" value="{{ option.0 }}" {% if state.ap_call == option.0 %}checked="checked"{% endif %} disabled="disabled"/>{{ option.1 }}
            </label>
            {% endfor %}

            <label class="control-label checkbox" style="margin-top: 5px;">
                <input type="checkbox" name="accept-ap-call-{{ state.id }}" {% if state.accept_ap_call == "y" %}checked="checked"{% endif %} /> Automatically publish AP call?
            </label>

            <h5>NPR call <small>(overrides AP call)</small></h5>

            {% for option in settings.RESULT_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="npr-{{ state.id }}" value="{{ option.0 }}" {% if state.npr_call == option.0 %}checked="checked"{% endif %} />{{ option.1 }}
            </label>
            {% endfor %}

            <br />
            &nbsp;<br />
            <input type="submit" class="btn btn-primary" value="Save all" />&nbsp;
            <a href="#">Back to top</a><br />
        </div>
        {% endfor %}
    </form>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
$(function() {
    var PREDICTION_TYPES = {
        {% for option in settings.PREDICTION_OPTIONS %}
        "{{ option.0 }}": "{{ option.1 }}"{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    var RESULT_OPTIONS = {
        {% for option in settings.RESULT_OPTIONS %}
        "{{ option.0 }}": "{{ option.1 }}"{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    function update_data() {     
        $.getJSON("/data", function(data) {
            $.each(data, function(i, state) {
                var prediction_radio = $(":radio[name=prediction-" + state.id + "][value=" + state.prediction + "]");
                var ap_call_radio = $(":radio[name=ap-" + state.id + "][value=" + state.ap_call + "]");
                var accept_app_call_checkbox = $(":checkbox[name=accept-ap-call-" + state.id + "]");
                var npr_call_radio = $(":radio[name=npr-" + state.id + "][value=" + state.npr_call + "]");

                if (prediction_radio.attr("checked") != "checked") {
                    prediction_radio.attr("checked", true);

                    $("#alerts").append('<div class="alert"><button type="button" class="close" data-dismiss="alert">x</button><a href="#' + state.id + '">' + state.name + '</a> prediction changed to ' + PREDICTION_TYPES[state.prediction] + '.</div>'); 
                }

                if (ap_call_radio.attr("checked") != "checked") {
                    ap_call_radio.attr("checked", true);
                    $("#alerts").append('<div class="alert"><button type="button" class="close" data-dismiss="alert">x</button><a href="#' + state.id + '">' + state.name + '</a> AP call changed to ' + RESULT_OPTIONS[state.ap_call] + '.</div>'); 
                }

                var accept_ap_call = (state.accept_ap_call == "y") ? "checked" : undefined;

                if (accept_app_call_checkbox.attr("checked") != accept_ap_call) {
                    accept_app_call_checkbox.attr("checked", accept_ap_call);
                    $("#alerts").append('<div class="alert"><button type="button" class="close" data-dismiss="alert">x</button><a href="#' + state.id + '">' + state.name + '</a> flag for automatically accepting AP call changed to ' + (state.accept_ap_call == "y" ? "True" : "False") + '.</div>'); 
                }
                
                if (npr_call_radio.attr("checked") != "checked") {
                    npr_call_radio.attr("checked", true);
                    $("#alerts").append('<div class="alert"><button type="button" class="close" data-dismiss="alert">x</button><a href="#' + state.id + '">' + state.name + '</a> NPR call changed to ' + RESULT_OPTIONS[state.ap_call] + '.</div>'); 
                }

                window.scrollTo(0, 0);
            });
        });
    }

    var polling_interval = {{ settings.POLLING_INTERVAL }};
    var countdown = polling_interval;

    function refresh_countdown() {
        countdown -= 1;
        
        $("#refreshing").html("<strong>Refreshing in " + countdown + " seconds."); 

        if (countdown == 0) {
            update_data();
            countdown = polling_interval + 1;
        }
    }

    setInterval(refresh_countdown, 1000);
});
</script>
{% endblock %}
