{% extends "base.html" %}
{% block title %}Mark state winners{% endblock %}
{% block content %}
    <h1>Mark state winners</h1>

    <p>
    {% for state in states %}
    <a href="#{{ state.id }}">{{ state.name }}</a>{% if not loop.last %},{% endif %} 
    {% endfor %}
    </p>

    <form id="state-winners" method="POST">
        {% for state in states %}
        <div id="{{ state.id}}" class="control-group well">
            <h4>{{ state.name }}</h4>

            <h5>Likely outcome</h5>

            {% for option in LIKELY_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="likely-{{ state.id }}" value="{{ option.0 }}" {% if state.likely == option.0 %}checked="checked"{% endif %} />{{ option.1 }}
            </label>
            {% endfor %}

            {% for type in RESULT_TYPES %}
                <h5>{{ type|capitalize }}</h5>

                {% for option in RESULT_OPTIONS %}
                <label class="control-label radio inline">
                    <input type="radio" name="{{ type }}-{{ state.id }}" value="{{ option.0 }}" {% if state[type] == option.0 %}checked="checked"{% endif %} />{{ option.1 }}
                </label>
                {% endfor %}

            {% endfor %}
            <br />
            &nbsp;<br />
            <input type="submit" class="btn btn-primary" value="Save all" />
            <a href="#" class="btn">Back to top</a><br />
        </div>
        {% endfor %}
    </form>
{% endblock %}
