{% extends "base.html" %}
{% block title %}Mark state winners{% endblock %}
{% block content %}
    <h1>Mark state winners</h1>

    <p>
    {% for state in states %}
    <a href="#{{ state.id }}">{{ state.name }}</a>{% if not loop.last %},{% endif %} 
    {% endfor %}
    </p>

    <form id="state-winners" method="POST">
        {% for state in states %}
        <div id="{{ state.id}}" class="control-group well">
            <h4>{{ state.name }}</h4>

            <h5>Predicted outcome</h5>

            {% for option in PREDICTION_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="prediction-{{ state.id }}" value="{{ option.0 }}" {% if state.prediction == option.0 %}checked="checked"{% endif %} />{{ option.1 }}
            </label>
            {% endfor %}

            <h5>AP call</h5>

            {% for option in RESULT_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="ap-{{ state.id }}" value="{{ option.0 }}" {% if state.ap_call == option.0 %}checked="checked"{% endif %} disabled="disabled"/>{{ option.1 }}
            </label>
            {% endfor %}

            <h5>NPR call</h5>

            {% for option in RESULT_OPTIONS %}
            <label class="control-label radio inline">
                <input type="radio" name="npr-{{ state.id }}" value="{{ option.0 }}" {% if state.npr_call == option.0 %}checked="checked"{% endif %} />{{ option.1 }}
            </label>
            {% endfor %}

            <br />
            &nbsp;<br />
            <input type="submit" class="btn btn-primary" value="Save all" />
            <a href="#" class="btn">Back to top</a><br />
        </div>
        {% endfor %}
    </form>
{% endblock %}
