<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script> <!-- FOR CHARTBEAT -->
        <title>The U.S. House</title>

        <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="css/house.css" />
        <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="banner"></div>
        <div id="candidates"></div>


        <script type="text/javascript" src="../js/lib/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="../js/lib/jquery.columnizer.js"></script>
        <script type="text/javascript" src="../js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="../js/lib/humanize.min.js"></script>
        <script type="text/javascript" src="../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="js/house.js"></script>
        <script type="text/javascript" src="js/studio.js"></script>
        <!--[if lt IE 9]>
        <script src="js/lib/html5.js"></script>
        <![endif]-->

        <script id="banner-template" type="text/template">
            <h1>House</h1>
            <ul>
                <li id="dem_sec">
                    <h2>Dem <span class="total"><%= data.house.democrats.total %></span> Needs <span class="neednum"><%= data.house.democrats.needed_for_majority %></span></h2>
                </li>
                <li id="gop_sec">
                    <h2>GOP <span class="total"><%= data.house.republicans.total %></span> Needs <span class="neednum"><%= data.house.republicans.needed_for_majority %></span></h2>
                </li>
                <li id="ind_sec">
                    <h2>Other <span class="total"><%= data.house.other.total %></span></h2>
                </li>
                <li id="nc_sec">
                    <h2><span class="total"><%= data.house.not_called %></span> <span class="flux">Not called</span></h2>
                </li>
            </ul>
        </script>

        <script id="timezone-template" type="text/template">
            <div class="timezone">
                <div class="poll-closing-time">
                    <div class="poll-closing-time-label">
                    <% date = moment.unix(timezone.gmt_epoch_time).format('h:mm'); %>
                    <%= date %>
                    </div>
                </div>
                <% _.each(timezone.districts, function(district){ %>
                    <%
                        var called = '';
                        var swap = '';
                        if (district.called == true) { called = 'called'; }
                        if (district.swap == true) { swap = 'swap'; }
                        var district_name = district.district.replace(' ', '<span></span>');
                    %>
                    <ul class="<%= called %> <%= swap %>">
                    <li class="status <%= district.district_slug %> <%= called %>"><%= district.status %> </li>
                    <li class="district"><%= district_name %></li>
                    <%
                    _.each(district.candidates, function(candidate, index, list){
                        var party_class = candidate.party.toLowerCase();
                        var incumbent = '';
                        var winner = '';
                        var swap = '';
                        var float_position = 'right';
                        if (candidate.winner == true) { winner = 'winner'; }
                        if (candidate.incumbent == true) { incumbent = 'incumbent'; }
                        if (candidate.swap == true) { swap = 'swap'; }
                        if (index == 1){ float_position = 'left'; }
                    %>
                        <li class="<%= party_class %> <%= incumbent %> <%= swap %> <%= winner %> candidate <%= district.district_slug %> candidate-<%= candidate.npid %>">
                            <%= candidate.first_name %>&nbsp;<%= candidate.last_name %>&nbsp;
                            <span class="vote-percent <%= float_position %>"><%= candidate.vote_percent %></span>
                        </li>
                    <% }); %>
                        <% var called = ''; if (district.called == true){ called = 'called'; } %>

                    </ul>
                <% }); %>
            </div>
        </script>
		
		<div class="module">
    		<div class="module-body">
    			<p class="cntrl">Press <span class="keyout">CTRL</span> + <span class="keyout">+</span> to magnify (<span class="keyout">&#8984;</span> + <span class="keyout">+</span> on Mac)</p>
    			<a href="http://www.npr.org" title="npr.org" id="npr-logo">NPR</a>

    		<div class="desc">
    			<h1>Big Board: House</h1>
    			
    			<p>Welcome to the NPR Elections Big Board. This board shows the same results that hosts and election staff are watching in NPR's Studio 4A. The board updates every 15 seconds.
    			</p>
    			
    			<p class="boardType">The House board displays the 50 top races to watch, picked by NPR's Ken Rudin and arranged by poll closing time. The top gray bar shows the total number of seats won by each party across all 435 races, along with the number of seats needed to take the majority in the House.
    			</p>
    			
    			<p>Other Big Boards: <a href="http://election2012.npr.org/bigboard/president.html">President</a> | <a href="http://election2012.npr.org/bigboard/senate.html">Senate</a>
    		</div>
    		<div class="key">
    			<h1>Big Board Key <a href="http://www.npr.org/buckets/agg/series/2012/elections/big-board-key.pdf" target=_blank>download the key pdf &raquo;</a></h1>
    			<ul class="rows-general">
    				<li class="list-header">The rows are set up as follows</li>
    				<li><strong>Gray row with time stamp:</strong> Poll closing time</li>
					<li><strong>Yellow percentage: </strong> Precincts reporting</li>
					<li><strong>Yellow box with time:</strong>  When a winner was projected</li>
					<li><strong>State/district</strong> </li>
					<li><strong>Blue candidate:</strong>  Democratic candidate</li>
					<li><strong>Green candidate:</strong>  Other party candidate</li>
					<li><strong>Red candidate: </strong> Republican candidate</li>
					<li><strong>Blue/green/red number:</strong>  Percentage of vote received by candidate with corresponding color</li>   			
    			</ul>
    			<ul class="more-markers">
    				<li class="list-header">Additional markers</li>
    				<li><strong>Candidate in all caps:</strong> Incumbent candidate</li>
					<li><strong>Blue/green/red highlighted box:</strong> Projected winner</li>
					<li><strong>White-highlighted state and white-outlined candidate:</strong> Seat has switched parties</li>
					<li><strong>Number in parentheses, following state (President board only): </strong>Number of total electoral votes the state has </li>
    			</ul>
    			
    			<div class="examples">
    				<h4>Examples</h4>
    				<p>Each sample row below is followed by a paragraph of how that row might be read based on the visual markers included.</p>
    				<div class="example1">
    					<img src="img/ex-senate-board.png" />
    					<p>Forty-five percent of precincts are reporting in Delaware, where Thomas Carper, the Democratic incumbent, currently has 47 percent of the vote. Kevin Wade, the Republican challenger, has 38 percent of the vote.</p>
    				</div>
    				<div class="example2">
    				<img src="img/ex-house-board.png" />
    					<p>At 11:11 p.m., NPR projects that Republican Candidate B will win in California’s 27th Congressional District. The House seat was formerly held by the Democrats. Candidate B has received 55 percent of the vote, while Candidate A has gotten 45 percent.</p>
    				</div>
    				<div class="example3">
    					<img src="img/ex-prez-board.png" />
    					<p>At 5:20 p.m., California was called for the Democratic presidential candidate. The Democrat received 52 percent of the vote in California, while the Republican received 48 percent. California has 55 electoral votes.</p>
    				</div>
					    				
    			</div>
    			<div class="credit"><p>Credit: Jeremy Bowers, Stephanie d'Otreppe, Christopher Groskopf, Brian Boyer </p></div>
    		</div>
    			
      		</div>
    	
    	</div>

        <!-- GOOGLE ANALYTICS -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5828686-4']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>


        <!-- CHARTBEAT -->
        <script type="text/javascript">
            var _sf_async_config={};
            /** CONFIGURATION START **/
            _sf_async_config.uid = 18888;
            _sf_async_config.domain = "npr.org";
            /** CONFIGURATION END **/
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement("script");
                    e.setAttribute("language", "javascript");
                    e.setAttribute("type", "text/javascript");
                    e.setAttribute("src",
                        (("https:" == document.location.protocol) ?
                         "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                         "http://static.chartbeat.com/") +
                        "js/chartbeat.js");
                    document.body.appendChild(e);
                }
                var oldonload = window.onload;
                window.onload = (typeof window.onload != "function") ?
                    loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>

    </body>
</html>
