<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The President</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.7.3/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="css/president.css" />
    </head>
    <body>
        <div id="banner"></div>
        <div id="candidates">
            <div class="weighted"></div>
            <div class="full">
                <div id="page-1" class="column first"></div>
                <div id="page-2" class="column"></div>
                <div id="page-3" class="column last"></div>
                <div class="initial" style="display:none;"></div>
            </div>
        </div>

        <script type="text/javascript" src="../js/lib/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="../js/lib/jquery.columnizer.js"></script>
        <script type="text/javascript" src="../js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="../js/lib/humanize.min.js"></script>
        <script type="text/javascript" src="../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="js/president.js"></script>
        <script type="text/javascript" src="js/studio.js"></script>
        <script type="text/javascript">
            function roundNumber(number, digits) {
                var multiple = Math.pow(10, digits);
                var rndedNum = Math.round(number * multiple) / multiple;
                return rndedNum;
            }
        </script>
        <!--[if lt IE 9]>
        <script src="js/lib/html5.js"></script>
        <![endif]-->

        <script id="banner-template" type="text/template">
            <h1>President</h1>
            <ul>
                <li id="dem_sec">
                    <h2>Obama <span class="total"><%= data.president.democrats.total %></span> <span class="need">Needs </span><span class="neednum"><%= data.president.democrats.needed_for_majority %></span></h2>
                </li>
                <li id="gop_sec">
                    <h2>Romney <span class="total"><%= data.president.republicans.total %></span> <span class="need">Needs </span><span class="neednum"><%= data.president.republicans.needed_for_majority %></span></h2>
                </li>
            </ul>
        </script>

        <script id="timezone-template" type="text/template">
            <div class="closeTimeBar state_row">
                <% date = moment.unix(timezone.gmt_epoch_time).format('h:mm'); %>
                <%= date %>
            </div>
            <% _.each(timezone.states, function(state){ %>
                <%
                    var winner = '';
                    var called = '';
                    var state_name = state.name
                    if (state.call == 'd') { winner = 'dem'; }
                    if (state.call == 'r') { winner = 'gop'; }
                    if (winner != '') { called = 'called'; }
                    state_name = state_name.replace('District of Columbia', 'Wash. D.C.');
                    state_name = state_name.replace('North', 'N.');
                    state_name = state_name.replace('West', 'W.');
                    state_name = state_name.replace('South', 'S.');
                    state_name = state_name.replace('Statewide', '');
                    state_name = state_name.replace('Massachusetts', 'Mass.');
                    state_name = state_name.replace('Pennsylvania', 'Penn.');
                    state_name = state_name.replace('District ', 'D');
                    state_name = state_name.replace('New Hampshire', 'N. Hampshire');
                %>
                <ul class="allstates state_row">
                	<li class="percentTime <%= called %>">
                    <%= state.status %>
                    </li>
                    <li class="district"></li>
                    <li class="state <%= winner %>"><span class="name"><%= state_name %></span>
                        <span class="votes"> (<%= state.electoral_votes %>)</span></li>
                    <li class="demPercent"><%= state.dem_vote_percent %></li>
                    <li class="gopPercent"><%= state.rep_vote_percent %></li>
                </ul>
            <% }); %>
        </script>

        <script id="featured-template" type="text/template">
            <%
                var winner = '';
                var called = '';
                var state_name = state.name;
                if (state.call == 'd') { winner = 'dem'; }
                if (state.call == 'r') { winner = 'gop'; }
                if (winner != '') { called = 'called'; }
                state_name = state_name.replace('North', 'N.');
                state_name = state_name.replace('New', 'N.');
                state_name = state_name.replace('West', 'W.');
                state_name = state_name.replace('South', 'S.');
                state_name = state_name.replace('Statewide', '');
                state_name = state_name.replace('Massachusetts', 'Mass.');
                state_name = state_name.replace('Pennsylvania', 'Penn.');
            %>
            <ul class="swing">
                <li class="percentTime <%= called %>">
                <%= state.status %>
                </li>
                <li class="district"></li>
                <li class="state <%= winner %>"><span><%= state_name %></span> (<%= state.electoral_votes %>)</li>
                <li class="demPercent"><%= state.dem_vote_percent %></li>
                <li class="gopPercent"><%= state.rep_vote_percent %></li>
            </ul>
        </script>
        
        <div class="module">
    		<div class="module-body">
    			<p class="cntrl">Press "Control +" to magnify</p>
    			<a href="http://www.npr.org" title="npr.org" id="npr-logo">NPR</a>

    		<div class="desc">
    			<h1>Big Board: President</h1>
    			
    			<p>Welcome to the NPR Elections Big Board. This board shows the same results that hosts and election staff are watching in NPR's Studio 4A. The board updates every 15 seconds.
    			</p>
    			
    			<p class="boardType">The President board displays the total electoral votes projected for each candidate in the top gray bar, along with how many more votes are necessary to get to 270 -- the number needed to win the election. The eight states listed in two columns at the top, below the gray bar, are those NPR has identified as swing states. Under the swing states, all state results are listed in order of poll closing time.
    			</p>
    		</div>
    		<div class="key">
    			<h1>Big Board Key <a href="#">download the key pdf &raquo;</a></h1>
    			<ul class="rows-general">
    				<li class="list-header">The rows are set up as follows</li>
    				<li><strong>Gray row with time stamp:</strong> Poll closing time</li>
					<li><strong>Yellow percentage: </strong> Precincts reporting</li>
					<li><strong>Yellow box with time:</strong>  When a winner was projected</li>
					<li><strong>State/district</strong> </li>
					<li><strong>Blue candidate:</strong>  Democratic candidate</li>
					<li><strong>Green candidate:</strong>  Other party candidate</li>
					<li><strong>Red candidate: </strong> Republican candidate</li>
					<li><strong>Blue/green/red number:</strong>  Percentage of vote received by candidate with corresponding color</li>   			
    			</ul>
    			<ul class="more-markers">
    				<li class="list-header">Additional markers</li>
    				<li><strong>Candidate in all caps:</strong> Incumbent candidate</li>
					<li><strong>Blue/green/red highlighted box:</strong> Projected winner</li>
					<li><strong>White-highlighted state and white-outlined candidate:</strong> Seat has switched parties</li>
					<li><strong>Number in parentheses, following state (president board only):</strong>Number of total electoral votes the state has </li>
    			</ul>
    			
    			<div class="examples">
    				<h4>Examples</h4>
    				<p>Each sample row below is followed by a paragraph of how that row might be read based on the visual markers included.</p>
    				<div class="example1">
    					<img src="img/ex-senate-board.png" />
    					<p>Forty-five percent of precincts are reporting in Delaware, where Thomas Carper, the Democratic incumbent, currently has 47 percent of the vote. Kevin Wade, the Republican challenger, has 38 percent of the vote.</p>
    				</div>
    				<div class="example2">
    				<img src="img/ex-house-board.png" />
    					<p>At 11:11 p.m., NPR projects that Republican Candidate B will win in California’s 27th Congressional District. The House seat was formerly held by the Democrats. Candidate B has received 55 percent of the vote, while Candidate A has gotten 45 percent.</p>
    				</div>
    				<div class="example3">
    					<img src="img/ex-prez-board.png" />
    					<p>At 5:20 p.m., California was called for the Democratic presidential candidate. The Democrat received 52 percent of the vote in California, while the Republican received 48 percent. California has 55 electoral votes.</p>
    				</div>
					    				
    			</div>
    			
    		</div>
    			
      		</div>
    	
    	</div>

       </body>
</html>
