<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The President</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.7.3/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/app.css" />
        <link rel="stylesheet" type="text/css" href="../css/president.css" />
    </head>
    <body>
        <div id="banner">
            <h1>President</h1>
            <ul>
                <li id="dem_sec">
                    <h2>Obama <span class="total">234</span> <span class="need">Needs </span><span class="neednum">36</span></h2>
                </li>
                <li id="gop_sec">
                    <h2>Romney <span class="total">206</span> <span class="need">Needs </span><span class="neednum">64</span></h2>
                </li>
            </ul>
        </div>
        <div id="candidates">
        <div class="weighted">
            <!-- Faking this for now. Will un-fake it later. -->
           <ul class="swing">
                <li class="percentTime">80%</li>
                <li class="state gop winner">Virginia (13)</li>
                <li class="demPercent">48</li>
                <li class="gopPercent">48</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">70%</li>
                <li class="state gop winner">N. Carolina (15)</li>
                <li class="demPercent">44.7</li>
                <li class="gopPercent">50.3</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">10%</li>
                <li class="state dem winner">Ohio (18)</li>
                <li class="demPercent">47.6</li>
                <li class="gopPercent">45.7</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">12:00</li>
                <li class="state">New Hampshire (4)</li>
                <li class="demPercent">48.6</li>
                <li class="gopPercent">47.2</li>
			</ul>
            <ul class="swing">
                <li class="percentTime">12:00</li>
                <li class="state">Pennsylvania (20)</li>
                <li class="demPercent">30</li>
                <li class="gopPercent">40</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">10%</li>
                <li class="state">Florida (29)</li>
                <li class="demPercent">46.6</li>
                <li class="gopPercent">48.4</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">70%</li>
                <li class="state">Colorado (9)</li>
                <li class="demPercent">47.6</li>
                <li class="gopPercent">47.8</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">8:00</li>
                <li class="state">Wisconsin (10)</li>
                <li class="demPercent">49.8</li>
                <li class="gopPercent">47</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">80%</li>
                <li class="state">Iowa (6)</li>
                <li class="demPercent">48.8</li>
                <li class="gopPercent">46.8</li>
            </ul>
            <ul class="swing">
                <li class="percentTime">8:00</li>
                <li class="state">Nevada (6)</li>
                <li class="demPercent">49</li>
                <li class="gopPercent">46.2</li>
            </ul>
        </div>
        <div class="full"></div>
    </div>

        <script type="text/javascript" src="../../js/lib/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery.columnizer.js"></script>
        <script type="text/javascript" src="../../js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="../../js/lib/humanize.min.js"></script>
        <script type="text/javascript" src="../../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/president.js"></script>
        <!--[if lt IE 9]>
        <script src="js/lib/html5.js"></script>
        <![endif]-->

        <!-- STEPH
        The variables you have are:
            stateface
            name
            abbr
            electoral_votes
            prediction
            ap_call
            ap_called_at
            accept_ap_call
            npr_call
            npr_called_at
            total_precincts
            precincts_reporting
            rep_vote_count
            dem_vote_count
            human_rep_vote_count
            human_dem_vote_count
            rep_vote_percent
            dem_vote_percent
        -->
        <script id="timezone-template" type="text/template">
            <div class="closeTimeBar">
                <% date = moment.unix(timezone.gmt_epoch_time).format('h:mm'); %>
                <%= date %>
            </div>
            <% _.each(timezone.states, function(state){ %>
                <%
                    var called = '';
                    if (state.called == true) { called = 'called'; }
                %>
                <ul class="allstates <%= called %>">
                	<li class="percentTime"><%
                        var percent = state.precincts_reporting / state.total_precincts
                        percent = percent * 100
                    %>
                    <%= percent %>%
                    </li>
                    <li class="district"></li>
                    <li class="state"><span><%= state.name %></span> (<%= state.electoral_votes %>)</li>
                    <li class="demPercent"><%= state.dem_vote_percent %></li>
                    <li class="gopPercent"><%= state.rep_vote_percent %></li>
                </ul>
            <% }); %>
        </script>

        <!-- <div class="full">
        	<div class="closeTimeBar">7:00</div>
        	<ul class="allstates">
        		<li class="percentTime">12:00</li>
        		<li class="state dem winner">N. Carolina (15)</li>
        		<li class="demPercent">30%</li>
        		<li class="gopPercent">40%</li>
        	</ul>
        	<ul class="allstates">
        		<li class="percentTime">12:00</li>
        		<li class="state gop winner">S. Carolina (9)</li>
        		<li class="demPercent">29%</li>
        		<li class="gopPercent">41%</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<div class="closeTimeBar">7:30</div>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        	<ul class="allstates">
        		<li class="state">Alabama (9)</li>
        	</ul>
        </div>
        </div> -->

    </body>
</html>
