@font-face {
     font-family: 'StateFaceRegular';
     src: url('../fonts/stateface-regular-webfont.eot');
     src: url('../fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/stateface-regular-webfont.woff') format('woff'),
          url('../fonts/stateface-regular-webfont.ttf') format('truetype'),
          url('../fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
}

/* STRUCTURAL */
#blog { float:right; }
#results { float:right; }


/* GENERAL STYLES */
h2 {
	font-size: 1.3em;
	margin-bottom: 3px;
	text-transform: lowercase;
}
h3 {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	color: #333;
}
a.btn { color: #fff; cursor: pointer; }

/* COLORS */
/*
.d_safe { background-color: #3d7fa6; color: #FFF; }
.d_favored { background-color: #7dbfe6; color: #28556f; }
.r_safe { background-color: #a23520; color: #FFF; }
.r_favored { background-color: #e27560; color: #6c2315; }
.i_safe { background-color: #999; color: #fff; }
.i_favored { background-color: #ccc; color: #333; }
.tossup { background-color: #f7e39b; color: #77631b; }
*/

/* ELECTRIS */
#states,.bucket.undecided {
    font-size:20px;
}

#buckets {
    position:relative;
    float:left;
    clear:left;
}

.state {
    z-index: 100;

    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.state i {
    float:left;
    font-family:StateFaceRegular;
    font-style:normal;
    text-align: center;
    
    width:.9em;
    margin-right:.1em;
    margin-bottom:.1em;
    height:.9em;

    background-color: #f7e39b;
    color: #77631b;
}

.state:hover { cursor: move; }
.state:hover i { color: #b39429; }

.state i span {
    font-size:.7em;
}

/* Before election night: shade by forecast */
.state.prediction-sd i { background-color: #3d7fa6; color: #fff; }
.state.prediction-ld i { background-color: #7dbfe6; color: #fff; }
.state.prediction-t i { background-color: #f7e39b; color: #77631b; }
.state.prediction-t:hover i { color: #b39429; }
.state.prediction-lr i { background-color: #e27560; color: #fff; }
.state.prediction-sr i { background-color: #a23520; color: #fff; }

/* On election night: shade by call */
.state.called:hover { cursor: default; }

.state.ap-call-d i { background-color: #3d7fa6; color: #fff; }
.state.ap-call-u i { background-color: #f7e39b; color: #77631b; }
.state.ap-call-u:hover i { color: #b39429; }
.state.ap-call-r i { background-color: #a23520; color: #fff; }

.state.npr-call-d i { background-color: #3d7fa6; color: #fff; }
.state.npr-call-u i { background-color: #f7e39b; color: #77631b; }
.state.npr-call-u:hover i { color: #b39429; }
.state.npr-call-r i { background-color: #a23520; color: #fff; }

#offices li li.blue .bar b { background-color: #3d7fa6; }
#offices li li.red .bar b { background-color: #a23520; }
#offices li li.undecided .bar b { background-color: #ccc; }

.line {
    bottom:26.9em;
    height:.1em;
    background-color:yellow;
    position:absolute;
    z-index:100;
    width:23em;
    text-align:right;
    line-height:0;
}

.bucket {
    float:left;
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
    
    width:10em;
    background-color: whiteSmoke;
}

.bucket .state i {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.bucket.undecided {
    margin-bottom:1em;
}

.bucket.undecided .state {
	padding-bottom: 6px;
}

.bucket.undecided:after, .bucket.undecided .state:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#resetBtn {
	float: right;
	margin-top: -32px;
}

#probabilities {
	display: none;
}
#probabilities .dem {
	width: 45%; float: left;
}
#probabilities .rep {
	width: 45%; float: right;
}


/* HEADER AND PLAYER */
#header .span12 { background-color: #111; padding-bottom: 12px; }

#header h1 { font-size: 28px; line-height: 30px; font-weight: normal; padding-top: 15px; margin: 0 0 3px 15px; color: #FFF; text-shadow: 2px 2px #000000; }
#maincontent #header h3 { font-weight: normal; margin: 0 0 3px 15px; color: #999; }

#playercon { color: #FFF; margin-left: 15px; margin-top: 15px; padding-right: 15px; height: 70px; border: 1px solid rgba(51,51,51,.8); position: relative; display: inline-block; }
#playercon #theplayer { padding: 4px; float: left; }
#playercon .speaking { font: 16px Arial;  margin: 0px 0 0 6px;  float: left; line-height: 22px;}
#playercon .slug { font: 12px Arial; color: #666; }
#playercon #eq_gfx { float:left }
#playerdisp { font: 12px Arial; color: #666; margin-left: 12px; float: left; }
#playercon #playerstatus { background-color: rgb(51,51,51); background-color: rgba(51,51,51,.8); position: absolute; top: 48px; width: 100%; height: 19px; padding-top: 4px;}
#playercon #playerstatus img { vertical-align: top; padding: 0px 0px 0px 4px; }

#comingsoon { position: relative; height: 62px; margin: 6px 0 0 -12px; display: none; float: left; }
#comingsoon b { position: absolute; top: 0; left: 0; display: block; width: 12px; height: 6px; overflow: hidden; background: url('../images/coming-soon-upper-tab.png') no-repeat right bottom; }
#comingsoon .message { font: bold 12px Arial; text-transform: uppercase; color: #FFF; padding: 20px 35px 0 30px; white-space: nowrap; }

/* hide both player and comingsoon initially 
body.comingSoon #playercon { position: absolute; top: -2000px; }
#playercon, #comingsoon { visibility: hidden; } */


/* TOPLINE */
#topline {
	border-top: 2px solid #666;
	background-color: #454545;
	margin: 0 0 24px 0;
	color: #f1f1f1;
}
#topline .wrap {
	padding-right: 20px;
	padding-bottom: 1em;
	border-right: 2px solid #666;
}
#topline #o-house .wrap {
	border-right: none;
}
#topline h3 {
	margin: 0 0 .3em 0;
	padding-top: 12px;
	color: #fff;
}
#topline h6 {
	font: normal .85em Arial, Helvetica, sans-serif;
	color: #ccc;
	float: right;
	margin: -1.75em 0 0 0;
}
#topline ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#topline ul li {
	margin: 0 0 .2em 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	z-index: 1;
	position: relative;
}
#topline ul li .bar {
	position: absolute;
	top: 1px; left: 0;
	width: 100%;
	z-index: -1;
}
#topline ul li .bar b { 
	height: 1.5em; 
	width: 50%; 
	display: block;
}

#topline ul li.blue .bar b { background-color: #3d7fa6; }
#topline ul li.red .bar b { background-color: #a23520; }
#topline ul li.undecided .bar b { background-color: #777; }

/*#topline ul li.blue .bar b { background-color: #d3eaf7; }
#topline ul li.red .bar b { background-color: #f5d1ca; }
#topline ul li.undecided .bar b { background-color: #ccc; } */

#topline .full { display: inline; }
#topline .abbr { display: none; }
#topline strong {
	display: inline-block;
	padding-left: 4px;
}
#topline .votes, #topline .pickups {
	min-width: 2em;
	text-align: right;
	display: inline-block;
	float: right;
	padding-right: 2px;
}
#topline:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/* LIVEBLOG */
#blog h2 { padding-left: 10px; }
#blog_river_alert {
	background-color: #FAFDFF;
	border: 1px solid #D3E1EA;
	padding: 12px;
	margin-bottom: 6px;
}
#blog_river_alert p {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	color: #36c;
}
#blog_river_alert p:hover {
	cursor: pointer;
	text-decoration: underline;
}
#blog_river ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#blog_river ul li {
	font-size: 13px;
	line-height: 1.35em;
	color: #333;
	background-color: #f1f1f1;
	padding: 12px;
	margin-bottom: 6px;
}
#blog_river ul li.sticky {
	background-color: #FFF;
	border: 1px dotted #999;
}
#blog_river .date {
	font-size: 11px;
	font-style: normal;
	white-space: nowrap;
	padding-left: 5px;
	color: #999;
}
#blog_river a {
	font-weight: bold;
	color: #36C;
}
#blog_river_hold, #blog_river_alert {
	display: none;
}


/* PRESIDENTIAL RESULTS */
#pres-nav li { cursor: pointer; }
#pres-nav li, #pres-results #pres-closing span { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#pres-results { margin-bottom: 24px; }
#pres-results h2 { margin-bottom: 12px; }
#pres-results .results { margin: 0; padding: 0; list-style: none; }
#pres-results .results li {
	border-bottom: 1px dotted #CCC;
	padding: 6px 0;
	font-size: 13px
}
#pres-results #pres-watching li:first-child,
#pres-results #pres-called li:first-child { 
	padding-top: 0;
	font-weight: bold;
}

#pres-results b {
	font: normal 1em StateFaceRegular;
    text-align: center;
    display: inline-block;
    width:1em;
    margin-right: 4px;
    height:1em;
}
#pres-results #pres-watching .st, 
#pres-results #pres-closing span {
    background-color: #f7e39b;
    color: #77631b;
}
#pres-results #pres-watching .st strong {
	font-weight: normal;
}
#pres-results #pres-closing strong {
	display: block;
	float: left;
	width: 75px;
}
#pres-results #pres-watching .st,
#pres-results #pres-closing span {
	padding: 3px 6px;
	border-radius: 6px;
	white-space: nowrap;
	display: block;
	float: left;
	cursor: move;
	margin: 0 3px 3px 0;
}
#pres-results .precincts {
	float: right;
	color: #666;
	font-size: 10px;
	line-height: 11px;
	font-style: normal;
	white-space: normal;
}
#pres-results .note {
	display: block;
	clear: both;
	color: #666;
	font-size: 11px;
	line-height: 1.2em;
	padding-top: 6px;
}
#pres-results #pres-called b { color: #333; }

#pres-results .s {
	width: 35%; 
	margin-right: 1%;
	float: left;
}
#pres-results .blue,
#pres-results .red { 
	text-align: center;
	background-color: #f1f1f1;
	width: 24%;
	float: left;
	padding: 3px 0;
}
#pres-results .precincts { 
	width: 12%;
	float: left;
	margin-left: 2%;
}
#pres-results .blue {
	margin-right: 1%;
}
#pres-results .hdr .blue,
#pres-results .hdr .red { 
	background: transparent;
}

#pres-results .blue.winner {
	font-weight: bold;
	color: #fff;
	background-color: #3d7fa6;
}
#pres-results .red.winner {
	font-weight: bold;
	color: #fff;
	background-color: #a23520;
}
#pres-nav:after, #pres-results .results li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }



@media (min-width: 960px) {
    #states,.bucket.undecided { font-size:20px; }
	#topline { margin-left: 0; }
	#topline .span4 { width: 293px; }
}
@media (min-width: 1200px) {
    #states,.bucket.undecided { font-size:24px; }
	#topline .span4 { width: 360px; }
	#topline .wrap { padding-right: 30px; }
}
@media (max-width: 979px) and (min-width: 768px) {
	#topline .span4 { width: 221px; }
}
@media (max-width: 767px) {
    #results,#blog { width:100%; }
	#topline .span4 { width: 33%; float: left; }
	#topline .wrap { padding: 0 1em 1em 1em; }
	#topline .full { display: none; }
	#topline .abbr { display: inline; }
	#topline h6 { margin: 0 0 .5em 0; float: none; }
}
@media (max-width: 500px) {
    #states,.bucket.undecided { font-size:12px; }
    .nav .arts, .nav .music { display: none; }
}
@media (max-width: 480px) {
	#header { margin-left: -10px; margin-right: -10px; }
	#header h1 { font-size: 1.5em; line-height: 1.2em; padding-top: 21px; }
	#header h3 { font-size: .9em; font-family: Arial, Helvetica, sans-serif; font-style: normal; }
	#playercon { height: 80px }
	#playercon #playerstatus { bottom: 0; top: auto; }
	#playercon .speaking { font: 13px Arial;  margin: 3px 0 0 52px; float: none; line-height: 17px; max-width: auto; white-space: normal; padding-bottom: 12px; display: block; }
	#playercon #attrOnStageBio { display: block; }
	
	#topline { margin-left: -10px; margin-right: -10px; }
	#topline h3 { font-size: 1em; }
	#topline ul li { margin-bottom: 0; font-size: .9em; }
	
	#blog { margin-left: -10px; margin-right: -10px; float: none; width: auto; }
	
	/* HIDE ELECTRIS (also some corresponding code in the JS) */
	#states { display: none; }
	#game-info { display: none; }
}