@font-face {
     font-family: 'StateFaceRegular';
     src: url('../fonts/stateface-regular-webfont.eot');
     src: url('../fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/stateface-regular-webfont.woff') format('woff'),
          url('../fonts/stateface-regular-webfont.ttf') format('truetype'),
          url('../fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
}


/* STRUCTURE */
#states { font-size: 22px; }
.candidate { width: 48%; }
.candidate.blue { float: left; }
.candidate.red { float: right; }
.candidate.blue .bucket { float: right; }
.candidate.blue .combos { float: left; }
.candidate.red .bucket { float: left; }
.candidate.red .combos { float: right; }
.bucket { width: 10em; }
.combos { width: 9em; }


/* CLEARFIXES */
#electris:after,
#states:after,
#buckets:after,
.tossups:after,
.candidate:after { 
	content: "."; display: block; height: 0; clear: both; visibility: hidden;
}


/* THINGS WE DON'T WANT TEXT HIGHLIGHTING ON */
.tossups li,
.state,
.combos .histogram li { 
	-moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none;
}

/* GENERAL STYLES */
h2 {
	font-size: 1.3em;
	margin-bottom: 3px;
	text-transform: lowercase;
}
h3 {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	color: #333;
}
h5 {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #999;
	text-transform: uppercase;
	margin-bottom: 3px;
}
a.btn { color: #fff; cursor: pointer; }


/* INTRO */
.intro { color: #333; }
.intro h1 { font-size: 2em; line-height: 1.4em; margin-bottom: .6em; }
.intro p { line-height: 1.45em; }
.intro p.date { color: #999; font-style: italic; }
.intro ul { list-style: none; margin: 0; padding: 0; }
.intro ul li { margin: 0 0 .5em 0; padding: 0; line-height: 1.2em; }
.intro ul li a { 
	padding: 0 0 0 7px;
	font-size: .9em;
	background: url(http://media.npr.org/chrome/news/bullet_blk.gif) no-repeat left .1em;
}
.credits { font-size: .85em; color: #666; margin-top: 1.5em; }
.credits p { margin: 0 0 .1em 0; }
.intro .related { margin-top: 1.5em; }
.intro .related h3 { margin-top: 0; }
.intro .credits h4 { font: bold 1em Arial, Helvetica, sans-serif; color: #333; margin: 0 0 .3em 0; text-transform: uppercase; }


/* ALERTS */
.alert .st { font-weight: bold; }
.alert .st b {
	font: normal 1em StateFaceRegular;
    text-align: center;
    display: inline-block;
    width: 1.2em;
    height:1em;
}


/* ELECTRIS */
#electris { margin-left: 20px; padding-top: 20px; }
#buckets { position: relative; }

.state { z-index: 100; }

.state i {
    float:left;
    font-family:StateFaceRegular;
    font-style:normal;
    text-align: center;
    
    width:.9em;
    margin-right:.1em;
    margin-bottom:.1em;
    height:.9em;
    overflow: hidden;

    background-color: #f7e39b;
    color: #77631b;
    border-radius: 2px;
}

.state:hover { cursor: pointer; }
.state i span { font-size:.7em; }

/* Before election night: shade by forecast */
.state.prediction-sd i { background-color: #3d7fa6; color: #A8D5EF; }
.state.prediction-ld i { background-color: #7dbfe6; color: #A8D5EF; }
.state.prediction-t i { background-color: #f7e39b; color: #77631b; }
.state.prediction-t.combo-pick i { background-color: #333; color: #999; }
.state.prediction-lr i { background-color: #e27560; color: #ECA395; }
.state.prediction-sr i { background-color: #a23520; color: #ECA395; }

/* On election night: shade by call */
.state.call-d i { background-color: #3d7fa6; color: #fff; }
.state.call-r i { background-color: #a23520; color: #fff; }

.state:hover i { color: #fff; }

#line {
    height:.1em;
    background-color: #666;
    position:absolute;
    z-index:100;
    width: 100%;
    text-align:right;
    line-height:0;
}
#line b {
	display: block;
	text-align: center;
	background-color: #FFF;
	text-indent: -9999px;
	background: url('../img/270.gif') no-repeat center center;
	height: 12px;
	margin-top: -5px;
}

.bucket {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
    background-color: #f1f1f1;
}

.bucket .state i {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.bucket-header {
	border-top: 3px solid #000;
	overflow: hidden;
	height: 3em;
	position: relative;
}
.candidate.blue .bucket-header { background: url('../img/silo-obama-45.png') no-repeat left 9px; }
.candidate.red .bucket-header  { background: url('../img/silo-romney-45.png') no-repeat left 9px; }
.bucket-header h5, .bucket-header h3, .bucket-header h4, .bucket-header p {
	margin-left: 50px;
}
.bucket-header h3 {
	padding-top: 16px;
	font: normal normal 22px Georgia, serif;
	color: #333;
	margin-bottom: -3px;
}
.bucket-header h3 i, .bucket-header h3 b {
	font-weight: normal;
	font-style: normal;
}
.bucket-header p {
	font-size: 12px;
	margin-bottom: 0;
	color: #666;
}
/*.bucket-header #p-blue-call { color: #3D7FA6; }
.bucket-header #p-red-call { color: #A23520; }
.bucket-header #p-blue-predict, .bucket-header #p-red-predict { color: #B39429; } */

.bucket-header p#p-blue-call, 
.bucket-header p#p-red-call { 
	margin-bottom: 10px;
}
.bucket-header .vote-tallies {
	width: 11em;
	position: absolute; top: 10px; right: 0;
}
.bucket-header .vote-tallies .electoral {
	width: 50%; float: left;
}
.bucket-header .vote-tallies .needed {
	width: 50%; float: right;
}
.bucket-header .vote-tallies .bignum {
	display: block;
	width: 50%;
	height: .75em;
	overflow: hidden;
	text-align: center;
	background-color: #eee;
	float: left;
	margin-right: 3%;
	padding: .25em 0 .75em 0;
	font: normal 20px Georgia, serif;
	border-radius: 3px;
}
.bucket-header .vote-tallies .needed .bignum { background-color: #f7e39b; color: #77631b; }
.blue .bucket-header .vote-tallies .electoral .bignum { background-color: #3d7fa6; color: #fff; }
.red .bucket-header .vote-tallies .electoral .bignum { background-color: #a23520; color: #fff; }
.bucket-header .vote-tallies span {
	display: block;
	width: 47%;
	float: left;
	color: #666;
	font-size: 11px;
	line-height: 1.2em;
	padding-top: 12px;
	text-transform: uppercase;
}


/* COMBOS */
.combos { height: 27em; overflow: auto; }
.combos p { font-size: 13px; }
.combos p.must-win { margin-bottom: 18px; }
.combos ul { list-style: none; margin: 0; padding: 0; }
.combos li { margin: 0 0 3px 0; padding: 0; text-indent: 0; }
.combos .histogram { margin-top: 6px; }
.combos .histogram h4 {
	font: normal 13px Arial, Helvetica, sans-serif;
	margin: 0;
	color: #000;
	background-color: #fbf1cd;
	position: relative;
	z-index: 98;
	height: 2.5em; overflow: hidden;
	border-radius: 3px;
}
.combos .histogram .title {
	padding: .75em;
	display: block;
	z-index: 100;
}
.combos .histogram .title strong { font-weight: bold; }
.combos .histogram .title i { font-size: 11px; font-style: normal; }
.combos .histogram .bar {
	display: block;
	width: 100%;
	height: 2.5em;
	margin-top: -2.75em;
	z-index: 99;

	background: #f3d469; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3d469 0%, #f7e39b 50%, #f3d469 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3d469), color-stop(50%,#f7e39b), color-stop(100%,#f3d469)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3d469 0%,#f7e39b 50%,#f3d469 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3d469 0%,#f7e39b 50%,#f3d469 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3d469 0%,#f7e39b 50%,#f3d469 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3d469 0%,#f7e39b 50%,#f3d469 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3d469', endColorstr='#f3d469',GradientType=0 ); /* IE6-9 */

	border-radius: 3px;
}
.combos .histogram h4.showable:hover { cursor: pointer; text-decoration: underline; }
.combos .combo-group { display: none; }
.combos .combo-group li { 
	font-size: 14px; 
	color: #666; 
	margin: 0;
	padding: 8px 6px 6px 6px;
	border-top: 1px solid #ccc;
}
.combos .combo-group li:hover {
	background-color: #B39429;
	cursor: pointer;
}
.combos .combo-group li:hover b {
	color: #fff;
}
.combos .combo-group li:first-child { border-top: none; }
.combos .combo-group b {
	font: normal 1em StateFaceRegular;
    text-align: center;
    display: inline-block;
    width: 1.2em;
    height:1em;
    margin-right: 6px;
	color: #77631b;
}


/* TOSSUPS */
.combos .tossups { 
	list-style: none; 
	margin: 0 0 18px 0; 
	padding: 0;
}
.tossups li { 
	padding: 6px 0;
	float: left; 
	width: 31%;
	margin: 0 2% 2% 0; 
	text-align: center;
	background-color: #f7e39b;
	color: #77631b;
	font-weight: bold;
    font-size: 18px;
	border-radius: 3px;
	overflow: hidden;
}
.tossups li:hover, .tossups li.taken:hover {
	cursor: pointer;
	background-color: #E5BF57;
	color: #fff;
}
.tossups li.active {
	background-color: #B39429;
	color: #fff;
}
.tossups li.taken {
	background-color: #FBF1CD;
	color: #F7E39B;
}
.tossups .abbr { display: none; }
.tossups .full { display: inline; }
.tossups b {
	font: normal 1em StateFaceRegular;
    text-align: center;
    display: inline-block;
    width: 1.2em;
    height:1em;
}
.tossups span {
	font: normal 12px Georgia, serif;
}


/* FOOTER EXTRAS */
#footer .credits { font: italic 11px Arial; color: #999; margin-top: 10px; }
#footer ul.bottomlist.elexLinks { margin-top: 15px; border-bottom: 1px dotted #CCC; border-top: 1px dotted #CCC; }
#footer ul.bottomlist li.elex a { color: black; font-weight: bold; }


/* RESPONSIVE FUN */
@media (min-width: 1200px) {
	#electris { padding: 0 10px; }
	#bigbox { width: 300px; }
	#states { font-size: 25px; }
	.bucket { width: 15em; }
	.combos { width: 6em; height: 18em; }
}
@media (max-width: 979px) {
/*    .intro { width: auto; } */
/*	#bigbox { display: none; } TODO: REMOVE THIS PROGRAMMATICALLY, NOT W/ CSS */
    .intro { width: 404px; }
}
@media (max-width: 979px) and (min-width: 768px) {
	#main-header, #header-title { width: 724px; }
	#states { font-size: 20px; }
	.bucket { width: 10em; }
	.combos { width: 6em; }
	.bucket-header { height: 4em; }
    .bucket-header h3 i { display: none; }
    .bucket-header .vote-tallies { width: 60%; }
	.tossups li b, .tossups li span { display: block; text-align: center; margin: 0 auto; }
}
@media (max-width: 767px) {
	.intro { width: auto; }
	#bigbox { float: right; padding-top: 1em; background-color: #f1f1f1; margin: 1.8em 0 0 0; }
	#electris { margin-left: 0; padding-top: 0; }
	#states { font-size: 10px; }
	.bucket-header h3 { font-size: 19px; }
    .bucket-header h3 i { display: none; }
	.candidate.blue .bucket, .candidate.red .bucket { float: none; }
	.candidate.blue .combos, .candidate.red .combos { 
		width: auto; clear: none; float: none;
		margin-right: 0; margin-left: 0;
	}
	.bucket { width: 100%; margin-bottom: 10px; }
	.bucket-header { height: 8em; }
	.bucket-header h3 { padding-top: 6px; }
    .bucket-header h3 i { display: inline; }
	.bucket-header .vote-tallies { 
		position: static; top: auto; right: auto; width: auto;
		margin-left: 50px; margin-top: 9px;
	}
	.bucket-header .vote-tallies .bignum { font-size: 18px; }
	#states .bucket .state i { text-indent: -9999px; width: 9.5%; margin-right: .5%; }
	.combos { width: auto; height: auto; border: none; }
}
@media (max-width: 480px) {
	#states .bucket .state i { text-indent: -9999px; width: 9%; margin-right: 1%; }
    .bucket-header h3 i { display: none; }
	.bucket-header .vote-tallies .bignum, .bucket-header .vote-tallies span { float: none; }
	.bucket-header .vote-tallies .bignum {
		width: auto; font-size: 14px; font-weight: bold; float: none;
	}
	.bucket-header .vote-tallies span { 
		width: auto; float: none; margin-top: 0; text-align: center; padding-top: 3px;
	}
}
