#playercon { color: #FFF; margin-left: 15px; padding-right: 15px; height: 70px; border: 1px solid rgba(51,51,51,.8); position: relative; float: left; }
#playercon #theplayer { padding: 4px; float: left; }
#playercon .speaking { font: 16px Arial;  margin: 0px 0 0 6px;  float: left; line-height: 22px;}
#playercon .slug { font: 12px Arial; color: #666; }
#playercon #eq_gfx { float:left }
#playerdisp { font: 12px Arial; color: #666; margin-left: 12px; float: left; }
#playercon #playerstatus { background: #333; background: rgba(51,51,51,.8); position: absolute; top: 48px; left: 0; width: 100%; height: 19px; padding-top: 4px;}
#playercon #playerstatus img { vertical-align: top; padding: 0px 0px 0px 4px; }

body.comingSoon #playercon { position: absolute; top: -2000px; }

/* hide both player and comingsoon initially */
#playercon, #comingsoon { visibility: hidden; }


#comingsoon { position: relative; background: url('../img/coming-soon-bg-wide.png') no-repeat right bottom; height: 62px; margin: 56px 0 0 -12px; display: none; float: left; }
#comingsoon b { position: absolute; top: 0; left: 0; display: block; width: 12px; height: 6px; overflow: hidden; background: url('../img/coming-soon-upper-tab.png') no-repeat right bottom; }
#comingsoon .message { font: bold 12px Arial; text-transform: uppercase; color: #FFF; padding: 20px 35px 0 30px; white-space: nowrap; }




#totnAudio {
    clear:left;
	display: none;
    visibility: hidden;
}

body.totn #totnAudio { display: block; visibility: visible; }
body.totn #liveUpdates { height: 550px; }
#totnAudio #audiocon { 
	height: 36px; padding: 1px; margin-bottom: 10px; 
	background-color: #f1f1f1; border: 1px solid #ddd;
	/* -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; */
}
.audiojs audio { position: absolute; left: 0; }
.audiojs { 
	width: 100%; height: 36px; overflow: hidden; 
	font: 11px Arial, Helvetica, sans-serif; color: #666;
	background-color: #eee;
}
.audiojs .play-pause { 
	width: 25px; height: 28px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden;
	background: #c94021; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e26c58), color-stop(0.5, #c04a3e), color-stop(0.51, #ba4438), color-stop(1, #c94021)); 
	background-image: -moz-linear-gradient(center top, #e26c58 0%, #c04a3e 50%, #ba4438 51%, #c94021 100%);
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}
.audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { display: none; position: relative; float: left; width: 20%; background: #ccc; height: 14px; margin: 10px; border-top: 1px solid #CCC; overflow: hidden; }
.audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #666; z-index: 1; border-radius: 0; box-shadow: none; }
.audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #999; }
.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0; padding: 0px 6px 0px 6px; border-left: 1px solid #fff; }
.audiojs .time em { padding: 0px 2px 0px 0px; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 200px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff; text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }
.audiojs .play { background: url("../img/player-graphics.gif") -2px -1px no-repeat; }
.audiojs .loading { background: url("../img/player-graphics.gif") -2px -31px no-repeat; }
.audiojs .error { background: url("../img/player-graphics.gif") -2px -61px no-repeat; }
.audiojs .pause { background: url("../img/player-graphics.gif") -2px -91px no-repeat; }
.playing .play, .playing .loading, .images .error { display: none; }
.playing .pause { display: block; }
.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }
.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }
