body { font: 13px/1.35em Arial, Helvetica, sans-serif; color: #333; }

h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; margin: 0 0 12px 0; line-height: 1.35em; }
a, a:link, a:visited { color: #000; }
a:hover, a:active { color: #36c; }

.navbar .container { position: relative; }
.navbar-inverse .navbar-inner {
	background-color: #2C2C2C;
	background-image: -moz-linear-gradient(top,#333,#222);
	background-image: -ms-linear-gradient(top,#333,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
	background-image: -webkit-linear-gradient(top,#333,#222);
	background-image: -o-linear-gradient(top,#333,#222);
	background-image: linear-gradient(top,#333,#222);
}
.navbar .nav li.npr { background: url('../img/npr_55x38.jpg') no-repeat center left; text-indent: -999px; }
.navbar .nav > li.npr > a { display: block; width: 55px; padding-left: 0; }
.navbar .nav > li.donate > a { font-weight: bold; color: #ccc; }

#social { position: absolute; right: 0; top: 0; }
#social ul, #social ul li { margin: 0; padding; 0; text-indent: 0; list-style: none; }
#social ul { height: 1%; overflow: hidden; float: right; }
#social ul li { float: left; border-right: 1px solid #39393A; }
#social ul li span { font: normal 13px/19px Arial, Helvetica, sans-serif; color: #ccc; display: block; padding: 9px 10px 11px 10px; }
#social a { display: block; height: 40px; width: 45px; text-indent: -999em; background: url('http://media.npr.org/chrome/music/social_tools_sprite.png') no-repeat; }
#social a:hover { background-color: #333; }
#social .facebook a { background-position: 19px 11px; }
#social .twitter a { background-position: 12px -105px; }

.container.the-goods { margin-top:60px; }

#footer ul.bottomlist { clear: left; padding: 15px 0; margin: 0; height: 1%; overflow: hidden; list-style: none; }
#footer ul.bottomlist li { float: left; font-size: 12px; margin-right: 15px; color: #999; }
#footer ul.bottomlist li a { color: #999; }
#footer ul.bottomlist li.help a, #footer ul.bottomlist li.contact a { color: #000; font-weight: bold; }
#footer ul.bottomlist li.donate a { font-weight: bold; color: #F30; }

/* AD STYLES */
.sponsor300 { overflow: hidden; width: 300px; margin: 0 auto; }
.adwrapper { zoom: 1; padding: 0 0 12px 0; }
.sponsor300 p { margin: 0; font-size: 10px; color: #333; }
.sponsor300 p.right { margin-top: 4px; font-style: italic; float: right; }
.sponsor300 p.left { float: left; margin-top: 4px; }
.NPRtablet #bigbox, .NPRphone #bigbox { display: none; }

@media (max-width: 979px) {
    .container.the-goods { margin-top:0; }
    .navbar-fixed-top .navbar-inner { padding-left: 20px; padding-right: 20px; }
}

@media (min-width: 768px) and (max-width: 979px) {
	.navbar-fixed-top .container { width: 724px; }
	#social { top: -5px; }
	#social ul li span { padding: 14px 10px 16px 10px; }
	#social a { height: 51px; }
	#social .facebook a { background-position: 19px 15px; }
	#social .twitter a { background-position: 12px -100px; }
}
@media (max-width: 767px) {
	.navbar-fixed-top { margin-left: -20px; margin-right: -20px; }
	.navbar-fixed-top .container { width: auto; position: static; }
	.navbar-fixed-top .navbar-inner { padding-left: 15px; padding-right: 15px; }
	#social ul li span { padding: 15px 10px 16px 10px; }
	#social a { height: 50px; }
	#social .facebook a { background-position: 19px 15px; }
	#social .twitter a { background-position: 12px -100px; }
}
@media (max-width: 580px) {
    .nav .arts, .nav .music { display: none; }
}
@media (max-width: 480px) {
	body { padding-right: 10px; padding-left: 10px; }
	.navbar-fixed-top { margin-left: -10px; margin-right: -10px; }
	.navbar .nav li { display: none; }
	.navbar .nav li.npr { display: block; }
	.navbar-fixed-top { margin-bottom: 1px; }
	#header { padding-top: 10px; }
	#footer { border-top: 1px solid #CCC; margin-top: 24px; }
}